@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBanco.cshtml";
}

<h2>Orden Pago</h2>

<p>

    <a href="@Url.Action("ListadoOrdenesPago","OrdenPago")"> Listado de Orden de Pagos </a> <br />

</p>

