
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBanco.cshtml";
}

<h2>Menu</h2>

<a href="@Url.Action("Register", "Account")">Register</a>

<a asp-controller="Account" asp-action="Register">Register</a>

