@model Datos.Models.Seguridad.Sesion

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBanco.cshtml";
}

<h2>Principal</h2>

<p>

    @foreach (Datos.Models.Seguridad.Rol item in Model.roles)
    {
        <a href="@Url.Action(item.Pagina, item.Nombre)">@item.Display</a> <br />
    }

</p>



